/* ----------- GERAL ----------- */

* {
  margin: 0;
}

body {
  display: block;
  width: 100%;
  height: 100%;
  background: hsl(217, 54%, 11%);
}

hr {
  border-top-color: darkgray;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  height: 1px;
  margin-left: 3%;
  margin-right: 3%;
}

/* ----------- CARD ----------- */

.card {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: 280px;
  height: auto;
  background: hsl(216, 50%, 16%);
  box-shadow: 0px 0px 40px 5px #000000;
  border-radius: 10px;
  color: hsl(215, 51%, 70%);
}

.card>div>img {
  margin: 15px;
  height: 50%;
  width: 90%;
  border-radius: 10px;
}

/* ----------- TÍTULO ----------- */

#titulo {
  margin-left: 15px;
  margin-bottom: 5px;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-family: 'Outfit' , sans-serif;
  font-weight: 600;
}

#titulo:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

/* ----------- TEXTO ----------- */

#texto {
  margin-left: 15px;
  margin-right: 3px;
  margin-top: 5px;
  font-weight: 300;
  font-family: 'Outfit' , sans-serif;
}

/* ----------- AC ----------- */

#ac {
  margin-left: 15px;
  margin-right: 17px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

#ac>div>p {
  float: right; 
  padding-left: 5px;
  font-weight: 600;
  font-family: 'Outfit' , sans-serif;
}

/* ----------- IMG ----------- */

#imga {
  margin-top: 10px;
  margin-left: 15px;
  width: 27px;
  border: 1px solid white; 
  border-radius: 50px;
}

/* ----------- IMAGEMVIW ----------- */

#imagemviw {
  opacity: 0%;
  position: absolute;
  height: 35px;
  width: 35px;
  padding: 39%;
  background-color: rgba(0, 255, 247, 0.5);
}

#imagemviw:hover {
  opacity: 100%;
  cursor: pointer;
}

/* ----------- FINAL ----------- */

#final {
  display:inline-block;
  font-family: 'Outfit' ,sans-serif; 
  font-weight: 400;
  color: aliceblue;
}

#final:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

/* ----------- RESPONSIVO ----------- */

@media screen and (max-width:1023px) {
  .card {
    margin-top: 10%;
    width: 300px;
  }
}

/* ----------- ATRIBUIÇÃO ----------- */

/*Design Responsivo*/
@media screen and (max-width:1023px) {
  .card{
    margin-top: 10%;
    width: 300px;
  }
}
/*APÓS*/
#titulo:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
#imagemviw:hover{
  opacity: 100%;
  cursor: pointer;
}
#final:hover{
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
/**/
